#main{
    position: relative;
    width: 400px;
    height: 50px;
    
}
#greeting-container{
    width: 200%;
    height: 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    margin:auto;
    position: absolute;
    top:50%
}